<section class="section section--{{ id }}">
  <h2 class="section__title">{{ title|enspan }}</h2>
  <div class="section__copy">
    {% if list %}
      <ul class="section__list section__list--{{ list_item_type }}">
        {% for item in list %}
          {% if list_item_type == 'text' %}
            {% set item = {item: item} %}
          {% endif %}
          {{ include("list_item_#{list_item_type}.twig", item, with_context = false) }}
        {% endfor %}
      </ul>
    {% endif %}
    {% if text %}
      <p>{{ text|raw }}</p>
    {% endif %}
  </div>
</section>
